.login-form-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;

  > .login-form {
    >.login-form-title {
      font-size: 23px;
      font-weight: bold;
    }
  }
  > .login-form {
    margin: auto;
  }

  > .login-form p {
    display: flex;
    justify-content: space-between;
  }
}
