.login-form-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;

  > .login-form {
    margin: auto;
    
    >.login-form-title {
      font-size: 23px;
      font-weight: bold;
    }
    
    .form-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      > * {
        margin: auto 0;
      }
      
      > label {
        margin-right: 10px;
      }
      
    }
  }
}
