$light-grey-border-color: #E6E6E6;
$grey-border-color: #d7d7d7;
$dark-grey-border-color: #c3c3c3;

$border-radius: 4px;


$regular-font-color: #373737;

$main-blue-color: #0081DC;
$light-blue-color: #007BFF;
$dark-blue-color: #0061B6;
