.fake-hero-avatar {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: $main-blue-color;
}

.fake-hero-avatar.big {
  height: 200px;
  width: 200px;
}


.star-text-delimiter {
  background-image: url("/static/images/spell-delimiter.png");
  background-size: cover;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 4px;
}
