body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
}

.navbar-top {
  height: 40px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.navbar-top>.nav-element {
  margin: auto 10px;
}
