.general-data {
  display: flex;
  flex-direction: row;
  
  > .general-info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
  }
}

.abilities-list {
  display: flex;
  flex-direction: row;
}

.hero-navigation-bar {
  display: flex;
  flex-direction: row;
  
  > .nav-element {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    
    > .container {
      text-align: center;
      
      img {
        width: 35px;
        margin: auto;
      }
      
      display: flex;
      flex-direction: column;
    }
  };
}
