.input-control {
  background-color: white;
  border: 1px solid $grey-border-color;
  
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  
  font-size: 14px;
  line-height: 17px;
  padding: 5px;
}

.input-control:hover, .input-control:focus {
  box-shadow: 0 2px rgba(0, 0, 0, .1);
  border-color: #c3c3c3;
  outline: none;
}
